// Width and Height
.width-100 {
   width: 100%;
}

.height-100 {
   height: 100%;
}

// Position
.absolute {
   position: absolute;
}

.relative {
   position: relative;
}

.fixed {
   position: fixed;
}


// Padding
.plr-1em {
   padding-left: 1em;
   padding-right: 1em;
}

.plr-2em {
   padding-left: 2em;
   padding-right: 2em;
}

.plr-3em {
   padding-left: 3em;
   padding-right: 3em;
}

.plr-4em {
   padding-left: 4em;
   padding-right: 4em;
}

.ptb-1em {
   padding-top: 1em;
   padding-bottom: 1em;
}

.ptb-2em {
   padding-top: 2em;
   padding-bottom: 2em;
}

.ptb-3em {
   padding-top: 3em;
   padding-bottom: 3em;
}

.ptb-4em {
   padding-top: 4em;
   padding-bottom: 4em;
}


// Margin
.mlr-1em {
   margin-left: 1em;
   margin-right: 1em;
}

.mlr-2em {
   margin-left: 2em;
   margin-right: 2em;
}

.mlr-3em {
   margin-left: 3em;
   margin-right: 3em;
}

.mlr-4em {
   margin-left: 4em;
   margin-right: 4em;
}

.mtb-1em {
   margin-top: 1em;
   margin-bottom: 1em;
}

.mtb-2em {
   margin-top: 2em;
   margin-bottom: 2em;
}

.mtb-3em {
   margin-top: 3em;
   margin-bottom: 3em;
}

.mtb-4em {
   margin-top: 4em;
   margin-bottom: 4em;
}
